USE [master]
GO
/****** Object:  Database [MaxsPets]    Script Date: 06-06-2020 03:37:42 AM ******/
CREATE DATABASE [MaxsPets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MaxsPets', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MaxsPets.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MaxsPets_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MaxsPets_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MaxsPets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MaxsPets]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 06-06-2020 03:37:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](256) NOT NULL,
	[email] [varchar](256) NOT NULL,
	[password] [varchar](256) NOT NULL,
	[mobile] [varchar](256) NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[boarding]    Script Date: 06-06-2020 03:37:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[boarding](
	[boarding_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[pet_type] [varchar](256) NOT NULL,
	[pet_breed] [varchar](256) NOT NULL,
	[address] [varchar](1000) NOT NULL,
	[pickupdate] [date] NOT NULL,
	[dropdate] [date] NOT NULL,
	[amount] [float] NOT NULL,
	[seen] [int] NOT NULL,
	[datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_boarding] PRIMARY KEY CLUSTERED 
(
	[boarding_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consulting]    Script Date: 06-06-2020 03:37:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consulting](
	[consult_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[pet_type] [varchar](256) NOT NULL,
	[pet_breed] [varchar](256) NOT NULL,
	[address] [varchar](1000) NOT NULL,
	[pickupdate] [date] NOT NULL,
	[issue] [varchar](1000) NOT NULL,
	[status] [int] NOT NULL,
	[seen] [int] NOT NULL,
	[datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_consulting] PRIMARY KEY CLUSTERED 
(
	[consult_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact_us]    Script Date: 06-06-2020 03:37:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_us](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](256) NOT NULL,
	[email] [varchar](256) NOT NULL,
	[mobile] [varchar](256) NOT NULL,
	[subject] [varchar](256) NOT NULL,
	[message] [varchar](max) NOT NULL,
	[seen] [int] NOT NULL,
	[datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_contact_us] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gallery]    Script Date: 06-06-2020 03:37:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gallery](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[img_url] [varchar](500) NOT NULL,
 CONSTRAINT [PK_gallery] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[packages]    Script Date: 06-06-2020 03:37:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[packages](
	[package_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](500) NOT NULL,
	[status] [int] NOT NULL,
	[type] [int] NOT NULL,
 CONSTRAINT [PK_packages] PRIMARY KEY CLUSTERED 
(
	[package_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training]    Script Date: 06-06-2020 03:37:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training](
	[training_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[pet_breed] [varchar](256) NOT NULL,
	[address] [varchar](1000) NOT NULL,
	[pickupdate] [date] NOT NULL,
	[package_id] [int] NOT NULL,
	[seen] [int] NOT NULL,
	[datetime] [datetime] NOT NULL,
 CONSTRAINT [PK_training] PRIMARY KEY CLUSTERED 
(
	[training_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06-06-2020 03:37:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](256) NOT NULL,
	[email] [varchar](256) NOT NULL,
	[password] [varchar](256) NOT NULL,
	[address] [varchar](1000) NULL,
	[mobile] [varchar](256) NOT NULL,
	[created_date] [datetime] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
